body {
  background-color: rgb(249, 229, 202);
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 450px;
  margin: auto;
}

form > div {
  display: flex;
  flex-direction: column;
}

button {
  background-color: steelblue;
  border: none;
  padding: 6px 0;
  cursor: pointer;
}

button:hover {
  background-color: cadetblue;
}

.error {
border: solid 1px rgb(255, 0, 0)
}